		
<link rel="stylesheet" href="assets/css/demo.css" type="text/css">
<link rel="stylesheet" href="assets/css/fontawesome-all.css" type="text/css">
<link rel="stylesheet" type="text/css" href="assets/css/popup.css">


  <!-- header cut -->
            <div class="middle-footer-sec">
                <div class="container py-md-5 py-sm-4 py-3">
                    <div class="row footer-info w3-agileits-info ">
                
                            <div class="col-xs-12 col-sm-4 col-md-4 ">
                                <h5>Quick Access</h5>
                                <ul class="list-unstyled">
                                    <li class="zoom"><a routerLink="/">Home</a></li>
                                    <li class="zoom"><a href="">About Us</a></li>
                                    <li class="zoom"><a href="">Payment Option</a></li>
                                    <li class="zoom"><a href="">Our Work</a></li>
                                </ul>
                            </div>
                        
                        <div class="col-xs-12 col-sm-4 col-md-4 ">
                        <h5>Our Team</h5>
                        <div class="zoom "><a href="" class="zoom"><img src="/assets/images/ourteam1.jpg" alt=""></a></div>
                        </div> 
                        
                        <div class="col-xs-12 col-sm-4 col-md-4 ">
                            <h5>Area Under Service</h5>
                            <div class="zoom "><a href=""><img src="/assets/images/location.png" alt=""></a></div>

                        </div>
                        
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="container py-xl-4 py-lg-2">
                       <p class="center">Copyright © 2020 ABC. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
	
    
            
            
 

  
