<div class="checkoutpage">
    <div class="container">
        <div class="row center">
            <div class="body-main ">
                <div class="col-md-12  ">
                    <div class="row center">
                        <div class="col-md-4 text-left"> <img class="img" alt="Invoce Template" src="assets/images/c.png" /> </div>
                        <div class="col-md-8 text-right">
                            <h4 style="color: black;"><strong>Delivery Address</strong></h4>
                        </div>
                    </div> <br />
                    <div class="row center">
                    <form >
                        <div class="row">
                            <input type="text" class="inputstyle underline" name="name" placeholder="Name">
                        </div>
                        <br />
                        <div class="row">
                            <input type="number" class="inputstyle underline" name="pincode" placeholder="Pincode">
                        </div>
                        <br />
                        <div class="row">
                            <input type="text" class="inputstyle underline" name="address" placeholder="Address">
                        </div>
                        <br />
                        <div class="row">
                            <input type="text" class="inputstyle underline" name="city" placeholder="City">
                        </div>
                        <br />
                        <div class="row">
                            <input type="text" class="inputstyle underline" name="state" placeholder="State">
                        </div>
                        <br />
                        <div class="row">
                            <input type="text" class="inputstyle underline" name="landmark" placeholder="Landmark">
                        </div>
                        <br />
                        <div class="row">
                            <input type="tel" class="inputstyle underline" maxlength="12" name="mobile" placeholder="Mobile No">
                        </div>
                        <br />
                        <div class="col-md-12">
                            <div class="row center">
                                <a class="button btn btcolr" style="display: inline-block;" routerLink="/payment">Confirm</a>
                            </div>
                        </div>
                        <br />
                    </form>
                    </div> <br />
                    </div>
            </div>
        </div>
    </div>
</div>
