<ngb-carousel>  
    <ng-template ngbSlide>  
        <img src="../assets/images/fortune.jpg" alt="Fresh Vegetables">  
        <div class="carousel-caption">  
            <h3 style="color: black; font-style: bold">Get Your Everyday Essentials With Fortune</h3>  
        </div>  
    </ng-template>  
    <ng-template ngbSlide>  
        <img src="../assets/images/nescafe.jpg" alt="Organic Grains">  
        <div class="carousel-caption">  
            <h3 style="color: black; font-style: bold">Special Discounts In Nescafe</h3>  
        </div>  
    </ng-template>  
    <ng-template ngbSlide>  
        <img src="../assets/images/britannia.jpg" alt="Fresh Fruits">  
        <div class="carousel-caption">  
            <h3 style="color: black; font-style: bold;">Eat Healthy With Britannia</h3>  
        </div>  
    </ng-template>  
    <ng-template ngbSlide>  
      <img src="../assets/images/totalgrosery.jpg" alt="Fresh Fruits">  
      <div class="carousel-caption">  
          <h3 style="color: black; font-style: bold;">Exiting Discount Is Here</h3>  
      </div>  
  </ng-template>  
   
</ngb-carousel>  
