
<link rel="stylesheet" href="assets/css/demo.css" type="text/css">
<link rel="stylesheet" href="assets/css/fontawesome-all.css" type="text/css">
<link rel="stylesheet" type="text/css" href="assets/css/popup.css">

<!-- <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0"> -->
    <div class="side-bar p-sm-4 p-3">  


        <div class="left-side border-top py-2">
            <h5 class="">Choose Your Brand</h5>
            <div class="ul-contsin-style">
                    <div class="row">
                        <label><input type="checkbox" /><span class="span"> Tata</span></label>
                  
                    </div>
                    
                
                    <div class="row">
                        <label><input type="checkbox" /><span class="span"> Patanjali</span></label>
                       
                    </div>
                    
                
                    <div class="row">
                        <label><input type="checkbox" /><span class="span"> Himalaya</span></label>
                      
                    </div>
                    
                    <div class="row">
                        <label><input type="checkbox" /><span class="span"> Fortune</span></label>
                        
                    </div>
                    
                
                </div>
        </div>


        <div class="left-side border-top py-2 ">
            <h5 class="">Categories</h5>
            <div class="ul-contsin-style">
                <div class="row">
                    <label><input type="checkbox" /><span class="span"> Vegetables</span></label>
                    
                </div>
                <div class="row">
                    <label><input type="checkbox" /><span class="span"> Fruits</span></label>
                
                </div>

                <div class="row">
                    <label><input type="checkbox" /><span class="span"> Snacks</span></label>
                  
                </div>
                
                <div class="row">
                    <label><input type="checkbox" /><span class="span"> Oil & Masala</span></label>
                  
                </div>
            </div>
        </div>
                    
        <div class="left-side border-top py-2 ">
            <h5 class="">Discount</h5>
            <div class="ul-contsin-style">
                <div class="row">
                    <label><input type="checkbox" /><span class="span"> 5% or More</span></label>
                    
                </div>
                <div class="row">
                    <label><input type="checkbox" /><span class="span"> 10% or More</span></label>
                </div>
        
            </div>
        </div>
                     
        <!-- <div class="customer-rev border-bottom left-side py-2">
            <h3 class="agileits-sear-head mb-3">Customer Review</h3>
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>5.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>4.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                        <span>3.5</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>3.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                        <span>2.5</span>
                    </a>
                </li>
            </ul>
        </div> -->
                     
        <!-- <div class="left-side border-bottom py-2">
                          <h3 class="agileits-sear-head mb-3">Shop By Category</h3>
                          <ul>
                              <li>
                                  <input type="checkbox" class="checked">
                                  <span class="span">Vegetables & Fruits</span>
                              </li>
                              <li>
                                  <input type="checkbox" class="checked">
                                  <span class="span">Snacks</span>
                              </li>
                              <li>
                                  <input type="checkbox" class="checked">
                                  <span class="span">Bekary,Cakes</span>
                              </li>
                              <li>
                                  <input type="checkbox" class="checked">
                                  <span class="span">Oil & Masala</span>
                              </li>
                          </ul>
                      </div>
                     
                      <div class="left-side border-bottom py-2">
                          <h3 class="agileits-sear-head mb-3">Cash On Delivery</h3>
                          <ul>
                              <li>
                                  <input type="checkbox" class="checked">
                                  <span class="span">Eligible for Cash On Delivery</span>
                              </li>
                          </ul>
                      </div>
                     
                      <div class="left-side border-bottom py-2">
                          <h3 class="agileits-sear-head mb-3">New Arrivals</h3>
                          <ul>
                              <li>
                                  <input type="checkbox" class="checked">
                                  <span class="span">Last 30 days</span>
                              </li>
                              <li>
                                  <input type="checkbox" class="checked">
                                  <span class="span">Last 90 days</span>
                              </li>
                          </ul>
                      </div> -->
                    
                      
    </div>
<!-- </div> -->