

<ngb-carousel *ngIf="!hideSection();">  
    <ng-template ngbSlide>  
        <img src="../assets/images/sl1.jpg" alt="Fresh Vegetables">  
        <div class="carousel-caption">  
            <h3 style="color: black; font-style: bold">Fresh Vegetables & Everyday Essentials</h3>  
        </div>  
    </ng-template>  
    <ng-template ngbSlide>  
        <img src="../assets/images/sl2.png" alt="Organic Grains">  
        <div class="carousel-caption">  
            <h3 style="color: black; font-style: bold">Organic Grains</h3>  
        </div>  
    </ng-template>  
    <ng-template ngbSlide>  
        <img src="../assets/images/sl3.jpg" alt="Fresh Fruits">  
        <div class="carousel-caption">  
            <h3 style="color: darkseagreen; font-style: bold;">Fresh Fruits</h3>  
        </div>  
    </ng-template>  
    <ng-template ngbSlide>  
      <img src="../assets/images/totalgrosery.jpg" alt="Fresh Fruits">  
      <div class="carousel-caption">  
          <h3 style="color: black; font-style: bold;">Exiting Discount Is Here</h3>  
      </div>  
  </ng-template>  
   
</ngb-carousel>  