<div class="checkoutpage">
    <div class="container">
        <div class="row center">
            <div class="body-main ">
                <div class="col-md-12">
                 

                            <ul class="list-group text-left">
                                <li class="list-group-item" >
                                <div class="cart-item" >
                                    
                                <div class="row">
                                    <div class="col-md-9 text-left">
                                        <span><img style="height: 25px; width: 25px;"src="" alt=""></span>&nbsp;
                                        <span></span>&nbsp;<span></span> x <span></span><br/>
                                        <span><a ></a></span> &nbsp;
                                        <span></span> &nbsp;
                                        <span><a></a></span><br/>
                                        <strong></strong>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <span><button></button></span>&nbsp;
                                    </div>
                                </div>
                                    
                                    
                                    
                                </div>
                                </li>
                            </ul>
                
                    
                        <div class="col-md-12 total-style">
                            <div style="margin-bottom: 4px;"  class="row alert alert-success"></div>
                            
                            <div  class="row">
                                    <h5 class="col-md-9 text-left "><strong>Total:</strong></h5>
                                    <!-- <a class="col-md-3 button btn btcolr checkout text-right" (click)="modal.dismiss('Cross click')" routerLink="/checkout">Checkout</a> -->
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
